*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: gaming;
}

@font-face {
    src: url(Font/Tigerious-ywyKe.otf);
    font-family: gaming;
}

body{
    background-image: url(./Gambar/background.png);
    background-size: cover;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.header{
    background-color: #101820FF;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 30px;
    background-color: #FEE715FF;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option{
    margin: 0 50px 0 10px;
}

.link{
    font-size: 15px;
    color: #d9d9d9;
}

.link:hover{
    color: #FEE715FF;
    transition: 0.5s;
}

.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown_isi{
    display: none;
    position: absolute;
    background-color: #101820FF;
    min-width: 100px;
    box-shadow: 0px 3px 10px #101820FF;
    padding-top: 35px;
}

.dropdown_isi a{
    float: none;
    font-size: 12px;
    padding: 10px 15px 10px 0px;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown_isi{
    display: block;
}

#au{
    color: #FEE715FF;
}

#register{
    background-color: #FEE715FF;
    color: #101820FF;
    padding: 5px 10px;
}

#register:hover{
    background-color: #101820FF;
    color: #FEE715FF;
}

.logo{
    margin-left: 30px;
    width: 90px;
    height: 90px;
}

.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.information img{
    width: 30%;
    height: 30%;
    margin: 50px auto 0px;
}

.information p{
    text-align: center;
    color: #d9d9d9;
    width: 80%;
    font-size: 18px;
    margin: auto;
}

.information button{
    border: none;
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FEE715FF;
    color: #101820FF;
}

.information button:hover{
    color: #FEE715FF;
    background: transparent;
    transition: 0.3s;
    border-left: 1px solid #FEE715FF;
}

.aboutUsIntro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0px auto;
    background-color: #101820FF;
    box-shadow: 0px 3px 15px #101820FF;
}

.aboutLegends{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px auto;
    width: 90%;
    background-color: #101820FF;
    box-shadow: 0px 3px 15px #101820FF;
}

.aboutLegends img{
    width: 50%;
}

.legendsText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.legendsText h1{
    font-size: 30px;
    color: #FEE715FF;
    width: 80%;
    text-shadow: 0px 3px 10px #101820FF;
    text-align: left;
}

.legendsText p{
    margin-top: 10px;
    font-size: 14px;
    color: #d9d9d9;
    text-align: left;
    width: 80%;
    line-height: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.legendsText button{
    border: none;
    width: 140px;
    height: 45px;
    margin: 30px auto 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FEE715FF;
    color: #101820FF;
    box-shadow: 0px 0px 5px #d9d9d9;
}

.legendsText button:hover{
    color: #FEE715FF;
    background: #101820FF;
    transition: 0.3s;
    box-shadow: 0px 0px 5px #FEE715FF;
}

.hiasan{
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hiasan img{
    width: 50%;
    height: 50%;
}

.aboutLegends2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px auto 100px;
    width: 90%;
    background-color: #101820FF;
    box-shadow: 0px 3px 15px #101820FF;
}

.aboutLegends2 img{
    width: 50%;
}

.rowButton{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
}

.titleOverview{
    text-align: center;
    margin: 140px auto 50px;
    color: #101820FF;
    font-size: 40px;
    width: 100%;
}

.overview{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px auto 100px;
    width: 100%;
}

.overviewPict{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 30%;
    max-width: 30%;
    color: #101820FF;
}

.overviewPict img{
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    box-shadow: 0px 3px 10px #101820FF;
}

.overviewText{
    width: 90%;
}

.overviewText h3{
    text-align: center;
    margin: 15px auto 10px;
    font-size: 23px;
    color: #101820FF;
}

.overviewText p{
    color: #101820FF;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.8;
}

.footer{
    width: 100%;
    background-color: #101820FF;
    display: block;
}

.container_footer{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.isi{
    margin-top: 30px;
    width: 25%;
    color: #d9d9d9;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    text-align: center;
}

.isi ul li{
    margin-top: 10px;
}

.isi ul li a{
    text-decoration: none;
    color: #d9d9d9;
    font-size: 12px;
}

.isi ul li a:hover{
    color: #FEE715FF;
    transition: 0.5s;
}

.underline{
    height: 2px;
    width: 55px;
    background-color: #FEE715FF;
    margin-top: 10px;
}

.underline2{
    height: 2px;
    width: 100px;
    background-color: #FEE715FF;
    margin-top: 10px;
}

#logo_footer{
    width: 200px;
    height: 200px;
}

.sosmed{
    margin-top: 5px;
}

.sosmed:hover{
    transform: scale(1.5);
    transition: 0.3s;
}

#ig{
    width: 20px;
    height: 20px;
}

#dc{
    width: 20px;
    height: 15px;
}

#twc{
    width: 20px;
    height: 20px;
}

#yt{
    width: 20px;
    height: 20px;
}

#esrb{
    max-width: 100%;
    width: 200px;
    height: 100px;
}

#copyright{
    margin-top: 40px;
    margin-bottom: 20px;
    color: #d9d9d9;
    opacity: 0.5;
    font-size: 12px;
}

@media only screen and (max-width: 800px){
    .header{
        position: fixed;
        width: 100%;
    }

    .menu{
        position: fixed;
        left: -100%;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        background-color: #101820FF;
        top: 95px;
    }

    .menu.active{
        left: 0;
    }

    .option{
        margin: 10px;
    }

    .hamburger{
        display: block;
        cursor: pointer;
    }

    .dropdown{
        float: none;
        display: block;
        text-align: center;
    }

    .dropdown_isi{
        position: relative;
        margin-left: 11px;
        padding: 0px;
    }

    .dropdown_isi a{
        text-align: center;
    }

    .information img{
        width: 70%;
        height: 70%;
        margin: 150px auto 0px;
    }
    
    .information p{
        text-align: center;
        color: #d9d9d9;
        width: 80%;
        font-size: 12px;
        line-height: 15px;
        margin: auto;
    }

    .aboutUsIntro{
        width: 80%;
    }

    .aboutLegends{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 100px auto;
        width: 90%;
        background-color: #101820FF;
        box-shadow: 0px 3px 15px #101820FF;
    }
    
    .aboutLegends img{
        width: 100%;
    }

    .aboutLegends2{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;
        width: 90%;
        background-color: #101820FF;
        box-shadow: 0px 3px 15px #101820FF;
    }
    
    .aboutLegends2 img{
        width: 100%;
    }
    
    .legendsText{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .legendsText h1{
        font-size: 30px;
        color: #FEE715FF;
        width: 80%;
        text-shadow: 0px 3px 10px #101820FF;
        text-align: left;
    }
    
    .legendsText p{
        margin-top: 10px;
        font-size: 14px;
        color: #d9d9d9;
        text-align: left;
        width: 80%;
        line-height: 30px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .legendsText button{
        border: none;
        width: 140px;
        height: 45px;
        margin: 30px 10px 30px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FEE715FF;
        color: #101820FF;
        box-shadow: 0px 0px 5px #d9d9d9;
    }
    
    .legendsText button:hover{
        color: #FEE715FF;
        background: #101820FF;
        transition: 0.3s;
        box-shadow: 0px 0px 5px #FEE715FF;
    }

    .titleOverview{
        text-align: center;
        margin: 100px auto 20px;
        color: #101820FF;
        font-size: 40px;
        width: 100%;
    }

    .overview{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;
        width: 100%;
    }

    .overviewPict{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin: 30px auto;
        height: 100%;
        width: 70%;
        max-width: 70%;
        text-align: center;
    }

    .overviewPict img{
        width: 100%;
        height: 100%;
    }

    .container_footer{
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .isi{
        width: 100%;
    }
}

